<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @player.team_id %>
</p>

<p>
  <strong>Pos:</strong>
  <%= @player.pos %>
</p>

<p>
  <strong>Attg:</strong>
  <%= @player.attg %>
</p>

<p>
  <strong>Att:</strong>
  <%= @player.att %>
</p>

<p>
  <strong>Yds:</strong>
  <%= @player.yds %>
</p>

<p>
  <strong>Avg:</strong>
  <%= @player.avg %>
</p>

<p>
  <strong>Ydsg:</strong>
  <%= @player.ydsg %>
</p>

<p>
  <strong>Td:</strong>
  <%= @player.td %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @player.lng %>
</p>

<p>
  <strong>Rfd:</strong>
  <%= @player.rfd %>
</p>

<p>
  <strong>Rfdp:</strong>
  <%= @player.rfdp %>
</p>

<p>
  <strong>R20ye:</strong>
  <%= @player.r20ye %>
</p>

<p>
  <strong>R40ye:</strong>
  <%= @player.r40ye %>
</p>

<p>
  <strong>Fum:</strong>
  <%= @player.fum %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
